$topnav-background-color: #222;
:host {
    display: block;
}
.input-group-text{
    height: 100%;
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #fff;
    padding: 3em;
    .login-form-container{
        align-items: center;
        vertical-align: middle;
        margin: 0 auto;
    }
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #fff;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background: $topnav-background-color;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 36px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    .external-login-container{
        .login-using-title{
            text-transform: uppercase;
            font-size: 17px;
            opacity: 0.5;
            margin: 25px 0 13px 0;
        }
        .login-button{
            display: block;
            margin: 5px auto;
            width: 100%;
            padding-left: 30%;
            position: relative;
            font-size: 13px;
            font-weight: 500;
            color: #696B79;
            height: 50px;
            border: 1px solid #BFC0C6;
            background-color: #FFFFFF;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            text-align: left;
            text-transform: uppercase;
            cursor: pointer;
        }
        button.btn.login-button:before {
            content: "";
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            text-rendering: auto;
            line-height: 1;
            position: absolute;
            left: 15px;
            font-size: 20px;
            background-size: 50px;
            display: block;
            width: 23px;
            height: 29px;
            top: 13px;
            left: 15px;
            background-size: contain;

        }
        .google-login-container img{
            width: 100%;
            cursor: pointer;
        }
        @media only screen and (max-width: 585px) {
            .google-login-container img{
                width: 80%;
            }
        }
        .google-login-container{
            margin: 0 auto;
        }
        // button.btn.login-button.google-login:before{
        //     background: url(/assets/images/icon_google.png) no-repeat top left;
        // }
        button.btn.login-button.linkedin-login:before{
            background: url(/assets/images/icon-linkedin.png) no-repeat top left;
            
        }

        
    }
    @media (max-width: 320px) {
        h1{
            font-size: 30px;
        }
    }


}
